body {
    font-family: Arial;
    background: #eef1f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 30px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.input-area {
    display: flex;
    margin-bottom: 20px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.input-area button {
    padding: 10px 15px;
    margin-left: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.input-area button:hover {
    background: #0069d9;
}

h3 {
    margin-top: 25px;
    font-size: 18px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background: #f7f7f7;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.done-btn {
    background: #28a745;
    color: white;
}
.delete-btn {
    background: #dc3545;
    color: white;
    margin-left: 5px;
}
.undo-btn {
    background: #ffc107;
}
